.home {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    &__text-wrapper {
        display: flex;
        justify-content: center;

        h1 {
            color: var(--yellow-theme-main-color);
            margin: 0px;
            font-weight: 500;
            font-size: 8rem;
            line-height: 10rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffectAnimation 2.5s steps(30,end);
        }
    }

    &__contact-me {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        button {
            cursor: pointer;
            padding: 10px 70px;
            font-size: 2rem;
            background: transparent;
            color: var(--yellow-theme-main-color);
            border: 1.5px solid var(--yellow-theme-main-color);
            border-radius: 4px;
            font-weight: 500;

            &:hover {
                background: var(--yellow-theme-main-color);
                color: #000000;
            }
        }

        a {
            cursor: pointer; 
            color: #ade8f4; 
            // FFC700 FDA403 4CCD99 007F73 #A5DD9B
            text-decoration: underline; 
            margin-left: 10px; 
        }
    }
}


.home__contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .home__contact-links {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure icons span full width */
  }
  
  .home__contact-link {
    color: yellow; /* Set color of icons */
    transition: transform 0.2s ease; /* Add transition effect if needed */
  }
  
  .home__contact-link:hover {
    transform: translateY(-3px); /* Add hover effect if desired */
  }
  
  .tagline {
    font-size: 30px;
    font-weight: bold;
    color: #76ABAE; /* Set the text color */
    // #5b5a5a
    text-align: center; /* Align the text to the center */
    margin-top: 20px; /* Add top margin as needed */
  }
  
  .animate-icon {
    transition: transform 0.3s ease; /* Smooth transition for animation */
  }
  
  .animate-icon:hover {
    animation: rotateY 2s linear infinite; /* Rotate the icon infinitely around the Y-axis */
  }
  
  @keyframes rotateY {
    0% {
      transform: rotateY(0deg); /* Start position */
    }
    100% {
      transform: rotateY(360deg); /* End position */
    }
  }
  

  @media only screen and (max-width: 550px){
    .home__text-wrapper h1 {
        font-size: 3rem;
        line-height: 5rem;
    }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    .home__text-wrapper h1 {
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 990px){
    .home__text-wrapper h1 {
        font-size: 6rem;
        line-height: 8rem;
    }
}

@keyframes typingEffectAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}



