@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@500&display=swap');

:root{
  --yellow-theme-background-color:#219ebc;
  /* #219ebc */
  --yellow-theme-main-color:#ffdd40;
 --yellow-theme-sub-text-color :#f9f7f3;
  --yellow-theme-nav-background-color:#00b4d8 ;
  /* #00b4d8  #00b4d8 ;*/
  /* 3-:#ffffff;  #caf0f8; f9f7f3*/
/* 1-#8E7AB5 */
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
  height: 100%;

}
body{
  background: var(--yellow-theme-background-color);
  height: 100%;
}
#root{
  height: 100%;
  
}